@tailwind base;
@tailwind components;
@tailwind utilities;



.slick-initialized .slick-slide {
    padding: 0 10px;
}

.slick-slide.slick-current .custom-card-data {
    background: linear-gradient(180deg, #419886 0%, #004842 100%);
    transition: background 1.5s ease;
}

.slick-slide.slick-current .custom-title {
    color: #E4EFE1;
}

.slick-slide.slick-current .custom-description,
.slick-slide.slick-current .custom-date {
    color: #ffffff
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/NunitoSans.ttf') format('truetype')
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/Quicksand.ttf') format('truetype')
}

body {
    font-family: 'Nunito', sans-serif;
}